@media print {

  body {
    background: white !important;
    color: black !important;
  }

  .grid-bg,
  .navbar,
  .no-print {
    display: none !important;
  }

  .cert-page {
    display: block !important;
  }

  @page {
    size: A4 landscape;
    margin: 10mm;
  }
}
